html{
    scroll-behavior: smooth;
    background-color: #F1F6F9;
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'DM Sans', sans-serif;
    margin: 0;
}

img{
    width: 100%;
}

section{

    background: #F1F6F9;
}



.section_title h2{
    position: relative;
    text-align: center;
    color: #212A3E;
    font-size: 30px;
    transition: all .5s ease-in-out;
}

.section_title h2:hover{
background-color: orange;
}



/* HEADER */

.child_home_img{
    margin: 0 auto;
    margin-top: 15px;
    width: 80%;
    height: auto;
    margin-bottom: 15px;
}
header{

    background: #394867;
    border-bottom: 1px solid rgba(rgb(13, 192, 0), rgb(13, 192, 0), rgb(13, 192, 0), 0.801);
    position: fixed;
    width: 100%;
    z-index: 5;
}

.navbar{
   
   
    align-items: center;
    margin: 0 auto;
    width: 80%;
    padding: 10px 0;
    text-align: center;

}

.nav_info{
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.nav_info li a{
    margin-left: 15px;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.nav_info li a:hover{

    background: #9BA4B5;
}

.logo h2 a{

    color: #fff;
    height:30px;
    width: auto;
    left: 70px;
    top: 5px;
    position: absolute;
    text-transform: uppercase;
}

img#logo{
    height:30px;
    width: auto;
    left: 30px;
    top: 5px;
    position: absolute;
   }


   /* PROCESS */

   .innersoftware {
    display: flex;
    align-items: center;
    width: 95%;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 80px;
}

.innersoftware_child {
    
    color: #fff;
    padding: 5px 5px;
    background: #9DB2BF;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: all .5s ease-in-out;
    width: 300px;
    height: 400px;
    margin-right: 15px;
    margin-left: 15px;
    
}



.innersoftware_child:hover {
    border: 2px solid #27374D;
}

.innersoftware_child .icon {
    font-size: 30px;
    color: #27374D;
}

.innersoftware_child h3 {
    font-size: 20px;
    margin: 5px 0;
}

.innersoftware_child p {
    font-size: 15px;
}

.section_title h2 {
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 30px;
    transition: all .5s ease-in-out;
}

a {
    color: #fff; 
    text-decoration: none; 
  }
  
  a:hover {
    color: rgb(111, 119, 124); 
  }


  /* styles.css */

  .nameofcont{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
    color: #27374D;
  }

 

.contributions-table {
    text-align: center;
    align-items: center;
    border-collapse: collapse;
    width: 60%;
    margin: 20px 0;
    margin-left: 315px;
  }
  
  .contributions-table th, .contributions-table td {
    border: 1px solid #27374D;
    text-align: left;
    padding: 5px;
    font-size: 14px;
  }
  
  .contributions-table th {
    background-color: #9DB2BF;
  }
  


  
/* CONTACT US LAST */



.inner_contact{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
}

.child_contact{
    flex-basis: 45%;
}

.child_contact form{
    padding: 50px 40px;
    background: #2F363e;
    border-radius: 5px;

}

.child_contact form input,textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background: #24292D;
    border: none;
    resize: none;
    border-radius: 25px;
    transition: .3s ease-in;
}

.child_contact form input,textarea:focus{
    color: #fff;
}

.child_contact form input:focus{
    letter-spacing: 1px;
}

.child_contact form textarea:focus{
    letter-spacing: 1px;
}

.child_contact form input:last-child{
    margin-bottom: 0;
    background: #24CAAC;
    border: 1px solid #24CAAC;
    transition: .3s;
}

.child_contact form input:last-child:hover{
    background: transparent;
    color: #fff;
}

/* CONTACT US LAST */

#connect-with-us {
    background-color: #212A3E;
    padding: 50px 0;
    text-align: center;
    margin-top: 100px;
}

#connect-with-us h2 {
    color: #fff;
}

.inner_connect {
    max-width: 900px;
    margin: 0 auto;
}

.inner_connect p {
    font-size: 20px;
    color: #fff;
}

.social_media_links {
    margin-top: 0px;
}

.social_media_links a {
    display: inline-block;
    margin-right: 10px;
    font-size: 24px;
    color: #fff;
}

.social_media_links a i {
    transition: color 0.3s ease-in-out;
}

.social_media_links a:hover i {
    color: #636363;
}

.sectiom_title {
    margin-top: 0px;
    margin-bottom: 40px;
}
